@import "highlight.js/styles/github-dark.css";
@import "@fontsource/iosevka";
body {
  margin: 2ch;
  font-family: "Iosevka", monospace;
  font-size: 140%;
}
code.hljs {
  font-family: "Iosevka", monospace;
}
